body{
    font-family:"Roboto", sans-serif;
    color:#434455 ;
    background-color: #ffffff;
}
a
{
    text-decoration: none;
}

a:hover ,
a:focus{
        text-decoration: none;
        color: #4d5ae5;
}

button{
    cursor: pointer;
}

button:hover,
button:focus {
    text-decoration: none;
    color: #404BBF;
}

ul, ol{
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

h1,h2,h3,p{
    margin-top: 0;
    margin-bottom: 0;
}

img{
    display: block;
}

.page-container{
min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1158px;
 padding-left: 15px;
        padding-right:15px;
       margin: 0 auto;
}

.section{
    padding-bottom: 120px;
    padding-top: 120px;
}

.header {
font-family: "Roboto", sans-serif;
padding-top: 24px;
padding-bottom: 24px;
border-bottom: 1px solid #e7e9fc;

}
   
.navigation{
    display: flex;
    flex-grow: 1;
  
}

.navigation-list{
display: flex;
gap:40px;
margin-left: auto;
margin-right: 332px;
}

.navigation-title {font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    color: #4d5ae5;
}

.navigation-web{
font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.navigation-element { font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        }

.address{
    font-style: normal;
 
}

.header-container{
    display: flex;
    align-items: center;
}


.list-address{
    display: flex;
gap: 40px;
}

.list-address-element { 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

     

.navigation .navigation-element:hover,
.navigation-element:focus{
    color: #404bbf;
}

   .list-address-element:hover,
                 .list-address-element:focus{
    color: #404bbf;
                 }

.solutions{
    background-color: #2e2f42;
 
}

.solutions-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
       
}

.button-order {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
            height: 56px;
      margin-left: auto;
      margin-right: auto;
        margin-top: 48px;
        white-space: nowrap;
}

.button-order:hover,
.button-order:focus{
background-color:#404BBF;
}

.features-title{
    display: none;
}

.features-list{
    display: flex;
    gap: 24px;
    width: calc((100% - 3*24)/4);
}

.features-list-name { 

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    }

.features-list-text { 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.team {
    background-color: #f4f4fd; ;
   
}

.team-list{
    display: flex;
    gap: 24px;   

}

.team-list-element{
    background-color: #fff;
 border-radius: 0 0 4px 4px;
    
}

.team-title { font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize ;
  
    margin-bottom: 72px;
   }

.team-name {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 32px 0 8px 0;
    }

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    padding-bottom: 32px;
 
}

.portfolio-title {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
   }

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
   gap: 24px;

     
}

.portfolio-name {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 32px ;
    margin-bottom: 8px;
    padding-left: 16px;
   }

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
padding-left: 16px;
padding-bottom: 32px;
}

.portfolio-list-element{
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        margin-bottom: 48px;
}

.footer { 

    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
      color: #4d5ae5;
  
   }

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
margin-top: 16px;
max-width: 264px;
}

.footer-web{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  color: #f4f4fd;

}

.footer .container{
    padding: 100px 1020px 100px 156px;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}